[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

spacy = "*"
es_core_web_md = { file = 'https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz'}


[requires]

spacy = '>2.0.5'
python_version = "2.7"
